{% extends "layouts/base.html" %}

{% block title %} SPMS{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block sidebar %}
    {% if usertype == 'Higher Authority' %}
        {% include 'includes/hasidebar.html' %}
    {% else %}
        {% include 'includes/facultysidebar.html' %}
    {% endif %}
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header ">
                <h2 class="card-title">School Wise Overall PLO Achievement Statistics</h2>
            </div>
        </div>
    </div>
</div>
<div class ="row justify-content-center">
    <form  id = "myform" action="splostats" method="post">
        {% csrf_token %}
        <table class="form-table">
            <tr>
                <td class="form-field" style="padding-right:30px;">
                    <label style ="padding-right:10px;" for="school">School</label>
                     <select  style = "width:120px;height:30px;" class ="form-select selectpicker" id="school" name="school" form="myform" aria-label="Default select example">
                     {% for i in slist %}
                         {% if i.schoolID == selectedItem %}
                            <option value="{{i.schoolID}}" selected="selected">{{i.schoolID}}</option>
                         {% else %}
                            <option value="{{i.schoolID}}">{{i.schoolID}}</option>
                         {% endif %}
                     {% endfor %}
                    </select>
                </td>
                <td style="text-align: center;" class="last-row" colspan="2">
                    <button class="btn btn-primary">Search</button>
                </td>
            </tr>
        </table>
    </form>
</div>

    <div class="row mt-4" id="chart">
      <div class="col-12">
          <div class="card-body" style="height:500px;" >
            <div class="chart-area">
                <canvas id="mychart" height="100%"></canvas>
            </div>
          </div>

      </div>
    </div>

{% endblock content %}




<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


<script>
    var search ={{search}}
    if(search==1){
        document.getElementById("chart").style.display = "none";
        }

    var ctx = document.getElementById("mychart").getContext("2d");
     colors =  ['#5CC8D7FF','#00539CFF','#EEA47FFF','#2C5F2D','#97BC62FF','#CE4A7EFF','#FC766AFF','#603F83FF','#006D77'
        ,'#E29578','#264653','#81b29a','#8d99ae']
    var data = {
          labels: {{plo|safe}},
          datasets: [{
               axis:'y',
              label: 'Achieved',
              data: {{achieved}},
              backgroundColor: '#2C5F2D'
          },
          {
               axis:'y',
              label: 'Attempted',
              data: {{attempted}},
              backgroundColor: '#97BC62FF'
          }
          ]
      };

    var myBarChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: data,
        options: {
            indexAxis:'x',
        },
});


</script>


{% endblock javascripts %}