{% extends "layouts/base.html" %}

{% block title %} SPMS{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block sidebar %} {% include 'includes/studentsidebar.html' %} {% endblock %}

{% block content %}

  <div class="row">
      <div class="col-12">
          <div class="card card-chart">
            <div class="card-header ">
                <h2 class="card-title">Course wise PLO Analysis</h2>
            </div>
          </div>
          <div class="card-body" style="height:450px;" >
            <div class="chart-area">
                <canvas id="coursewiseplo" height="100%"></canvas>
            </div>
          </div>
      </div>
  </div>

  <div class = "row" id ="pie">

  </div>


{% endblock content %}




<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    var ctx = document.getElementById("coursewiseplo").getContext('2d');

    plo = [{% for i in plo %} '{{ i }}', {% endfor %}];
    courses = [{% for i in courses %} '{{ i }}', {% endfor %}];
    table = {{ table }};

    colors = ['Red','Orange','Green','Blue','Cyan', 'Purple','Pink','Teal','Maroon','Gray','Olive','Lime','GoldenRod']

    var datasetlist = []

    for (let i = 0; i < courses.length; i++) {
        datasetlist.push({
            label: courses[i],
            data: table[i],
            backgroundColor:colors[i]
        });
    }

    console.log(datasetlist)

     var myChart = new Chart(ctx, {
         type: 'bar',
         data: {
             labels: plo,
             datasets: datasetlist
         },

         options: {
            onClick: onClickBar,
            scales: {
                xAxes: [{
                  stacked: true,

                }],
                yAxes: [{
                  stacked: true,
                  ticks: {
                    beginAtZero: true,
                    max:100,
                  },
                  type: 'linear',
                }]
            },

            responsive: true,
            maintainAspectRatio: true
        }
     });

    function onClickBar(events){
        const datasetIndex = myChart.getElementAtEvent(event)[0]._datasetIndex;
        const model = myChart.getElementsAtEvent(event)[datasetIndex]._model;
        console.log(model.datasetLabel, model.label)
    }
</script>
<script>
    block = document.getElementById('pie');
    var pielist = []
    for (let i = 0; i < courses.length; i++) {
        pielist.push({
            label: courses[i],
            data: table[i],
            backgroundColor:colors[i]
        });
    }
</script>
{% endblock javascripts %}
