<div class="sidebar">
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="{% if 'index' in segment %} active {% endif %}">
                <a href="/">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="{% if 'icons' in segment %} active {% endif %}">
                <a href="{% url 'stplo' %}">
                    <i class="tim-icons icon-atom"></i>
                    <p>Student Wise PLO Analysis</p>
                </a>
            </li>
            <li class="{% if 'notifications' in segment %} active {% endif %}">
                <a href="{% url 'studentplotable' %}">
                    <i class="tim-icons icon-bell-55"></i>
                    <p><strong>Student Wise PLO Table</strong></p>
                </a>
            </li>
            <li class="{% if 'page-user' in segment %} active {% endif %}">
                <a href="{% url 'dplostats' %}">
                    <i class="tim-icons icon-single-02"></i>
                    <p>PLO Achievement Statistics</p>
                </a>
            </li>
            <li class="{% if 'tables' in segment %} active {% endif %}">
                <a href="{% url 'creport' %}">
                    <i class="tim-icons icon-puzzle-10"></i>
                    <p>Course Report</p>
                </a>
            </li>

            <li class="{% if 'dataEntry' == segment %} active {% endif %}">
                <a data-toggle="collapse" href="#dataentry">
                    <i class="tim-icons icon-chart-bar-32"></i>
                    <p>
                        Data Entry
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="dataentry">
                    <ul class="nav">
                        <li>
                            <a href="{% url 'plocomapping' %}">
                                <span class="sidebar-mini-icon">P</span>
                                <span class="sidebar-normal">PLO to CO Mapping</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'assessmentdataentry' %}">
                                <span class="sidebar-mini-icon">A</span>
                                <span class="sidebar-normal">Assessment Data Entry</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'evaluationdataentry'%}">
                                <span class="sidebar-mini-icon">E</span>
                                <span class="sidebar-normal">Evaluation Data Entry</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="{% url 'logoutpage' %}">
                    <i class="tim-icons icon-user-run"></i>
                    <p>Logout</p>
                </a>
            </li>
        </ul>
    </div>
</div>