{% extends "layouts/base.html" %} {% block title %} SPMS{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block sidebar %}
    {% include 'includes/facultysidebar.html' %}
{% endblock %} {% block content %}

<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header">
                <h2 class="card-title">Assessment Data</h2>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <form>
        {% csrf_token %}
        <table class="form-table">
            <tr>
                <td class="form-field" style="text-align: center;">
                    <label for="course" >CourseID</label>
                    <select style="width: 120px; height: 30px" class="form-select selectpicker" id="course" name="course">
                        {% for i in clist %}
                            {% if i.courseID == selectedCourse %}
                                <option value="{{i.courseID}}" selected="selected">{{i.courseID}}</option>
                            {% else %}
                                <option value="{{i.courseID}}">{{i.courseID}}</option>
                            {% endif %}
                        {% endfor %}
                     </select>
                </td>

                <td class="form-field" style="text-align: center;padding-right:20px;">
                    <label for="section" >SectionNum</label>
                    <select  class="form-select selectpicker" id="section" name="section">
                        {% for i in sections %}
                            {% if i == selectedSection %}
                                <option value="{{i}}" selected="selected">{{i}}</option>
                            {% else %}
                                <option value="{{i}}">{{i}}</option>
                            {% endif %}
                        {% endfor %}
                  </select>
                </td>

                <td class="form-field" style="text-align: center;padding-right: 20px;width:210px;">

                    <input type="text" class="form-control" id="semester" name="semester" placeholder="Semester(e.g. Spring 2020)">

                    <!--<select  class="form-select selectpicker" id="semester" name="semester">
                        {% for i in semesters %}
                            {% if i == selectedSemester %}
                                 <option value="{{i}}" selected="selected">{{i}}</option>
                            {% else %}
                                <option value="{{i}}">{{i}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>-->
                </td>


                <td class="form-field" style="text-align: center;padding-right: 20px;">
                    <input type="text" id="anum" name="anum" class="form-control" placeholder="Number of Assessment" />
                </td>
                <td style="text-align: center" class="last-row" colspan="2">
                    <button class="btn btn-primary" id ="enterButton">Enter</button>
                </td>
             </tr>
        </table>
    </form>
</div>

<div class="row justify-content-center mt-4">
    <form id="assessmentSection"  action="{% url 'assessmentdataentry' %}" method="post"></form>
</div>



{% endblock %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}

<script>
    $("#enterButton").click(function() {
        let placeholders = [
            "Assessment Name",
            "Question Number",
            "TotalMarks",
            "Weightage",
        ];
        let courseName = document.getElementById('course').value;
        let noOfAssess= document.getElementById('anum').value;
        let section = document.getElementById('section').value;
        let semester = document.getElementById('semester').value;



        let assessmentSection = document.getElementById('assessmentSection');

        console.log(courseName)

        assessmentSection.innerHTML = '';

        let formTable = document.createElement('table');
        formTable.className = 'form-table';
        formTable.innerHTML = `
                            {% csrf_token %}
                            <input type="hidden" name="course" value="${courseName}" />
                            <input type="hidden" name="section" value="${section}" />
                             <input type="hidden" name="semester" value="${semester}" />
                        `;
        for (let i = 0; i < parseInt(noOfAssess); i++){
            let inputForm = document.createElement('tr')
            inputForm.innerHTML = `
            <td class="form-field">
               <input type="text" class ="form-control" id="questions${i + 1}" name="questions" class="form-control" placeholder="Question Number"/>
            </td>
            <td class="form-field" style="width: 180px;padding-right:20px;">
                <input type="text" id="assessmentName${i + 1}" name="assessmentName" class="form-control" placeholder="AssessmentName"/>
            </td>
            <td class="form-field" style="padding-right:20px;">
                <input type="text" id="totalMark${i + 1}" name="totalMarks" class="form-control" placeholder="Total Marks" />
            </td>
            <td class="form-field">
                <input type="text" id="weightAge${i + 1}" name="weightAge" class="form-control" placeholder="Weightage" />
            </td>
             <td class="form-field" style="text-align: center;padding-right: 20px;">
                    <select  class="form-select" id="co" name="co">
                       <option value="CO1">CO1</option>
                        <option value="CO2">CO2</option>
                         <option value="CO3">CO3</option>
                        <option value="CO4">CO4</option>
                    </select>
              </td>
            `;
            formTable.appendChild(inputForm);
        }
        let inputButton = document.createElement('tr');
        inputButton.innerHTML = `<td style="text-align: center;" class="last-row mt-2" colspan="4"><button class="btn btn-primary">Submit Assessment</button></td>`;
        formTable.appendChild(inputButton);
        assessmentSection.appendChild(formTable);
        return false;
});
</script>


{% endblock javascripts %}