{% extends "layouts/base.html" %} {% block title %} SPMS{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block sidebar %} {% include 'includes/facultysidebar.html' %} {% endblock %} {% block content %}
<div class="col-14">
    <div class="card card-chart">
        <div class="card-header">
            <h2 class="card-title">Course Information</h2>
        </div>
    </div>
</div>
<div class="row justify-content-center text-center mt-auto">
    <form id="courseform">
        {% csrf_token %}
        <table class="form-table">
            <tr>
                <td class="form-field" style="text-align: center; padding-right: 20px">
                    <label for="course" style="padding-right: 10px">CourseID</label>
                    <select style="width: 120px; height: 30px" class="form-select" id="course" name="course" form="courseform" aria-label="Default select example">
            {% for i in courses %} {% if i == selectedCourse %}
            <option value="{{i}}" selected="selected">{{i}}</option>
            {% else %}
            <option value="{{i}}">{{i}}</option>
            {% endif %} {% endfor %}
          </select>
                </td>

                <td class="form-field" style="text-align: center; padding-right: 20px">
                    <label for="section" style="padding-right: 10px">SectionNum</label>
                    <select style="width: 120px; height: 30px" class="form-select" id="section" name="section" form="courseform" aria-label="Default select example">
            {% for i in sections %} {% if i == selectedSection %}
            <option value="{{i}}" selected="selected">{{i}}</option>
            {% else %}
            <option value="{{i}}">{{i}}</option>
            {% endif %} {% endfor %}
          </select>
                </td>
                <td class="form-field" style="text-align: center; padding-right: 20px">
                    <label for="year" style="padding-right: 10px">Year</label>

                    <select style="width: 120px; height: 30px" class="form-select" id="year" name="year" form="courseform" aria-label="Default select example">
            {% for i in year %} {% if i == selectedYear %}
            <option value="{{i}}" selected="selected">{{i}}</option>
            {% else %}
            <option value="{{i}}">{{i}}</option>
            {% endif %} {% endfor %}
          </select>
                </td>
                <td class="form-field" style="text-align: center; padding-right: 20px">
                    <label for="semester" style="padding-right: 10px">Semester </label>

                    <select style="width: 120px; height: 30px" class="form-select" id="semester" name="semester" form="courseform" aria-label="Default select example">
            {% for i in semesters %} {% if i == selectedSemester %}
            <option value="{{i}}" selected="selected">{{i}}</option>
            {% else %}
            <option value="{{i}}">{{i}}</option>
            {% endif %} {% endfor %}
          </select>
                </td>
                <td style="text-align: center" class="last-row" colspan="2">
                    <button class="btn btn-primary" onclick="showNOofcos()">Enter</button>
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock content %}