{% extends "layouts/base.html" %}

{% block title %} SPMS{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block sidebar %}
    {% if usertype == 'Higher Authority' %}
        {% include 'includes/hasidebar.html' %}
    {% else %}
        {% include 'includes/facultysidebar.html' %}
    {% endif %}
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header ">
                <h2 class="card-title">Student Enrollment Analysis</h2>
            </div>
        </div>
    </div>
</div>
<div class ="row justify-content-center">
    <form  id = "myform" action="enrollment" method="post">
        {% csrf_token %}
        <table class="form-table">
            <tr>
                 <td class="form-field" style="padding-right:30px;">
                     <label style="padding-right:5px;" for="sem1">From</label>
                        <select  style = "width:120px;height:30px;" class ="form-select selectpicker" id="sem1" name="sem1" form="myform" aria-label="Default select example">
                            {% for i in semesters %}
                                {% if forloop.counter0 ==  selected1 %}
                                    <option value="{{forloop.counter0}}" selected="selected">{{i}}</option>
                                {% else %}
                                     <option value="{{forloop.counter0}}">{{i}}</option>
                                {% endif %}
                            {% endfor %}


                        </select>
                 </td>
                <td class="form-field" style="padding-right:30px;">
                    <label style="padding-right:5px" for="sem2">To</label>
                    <select  style = "width:120px;height:30px;" class ="form-select selectpicker" id="sem2" name="sem2" form="myform" aria-label="Default select example">
                        {% for i in semesters %}
                            {% if forloop.counter0 == selected2 %}
                                <option value="{{forloop.counter0}}" selected="selected">{{i}}</option>
                            {% else %}
                                 <option value="{{forloop.counter0}}">{{i}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td style="text-align: center;" class="last-row mt-4" colspan="3">
                    <button class="btn btn-primary">Enter</button>
                </td>
            </tr>
        </table>
    </form>
</div>


    <div class="row mt-4" id ="chart">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row justify-content-end">
              <div class="col-sm-6">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <label class="btn btn-sm btn-primary btn-simple active" id="0">
                    <input type="radio" name="options" checked>
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">School Wise</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-single-02"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="1">
                    <input type="radio" class="d-none d-sm-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Department Wise</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-gift-2"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="2">
                    <input type="radio" class="d-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Program Wise</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-tap-02"></i>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body" style="height:450px;" >
            <div class="chart-area">
                <canvas id="pie" height="100%"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}




<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
     var search = {{search}}

    if(search==1){
        document.getElementById("chart").style.display = "none";
    }
</script>
<script>

    var ctx = document.getElementById("pie").getContext("2d");
    colors =  ['#5CC8D7FF','#00539CFF','#EEA47FFF','#2C5F2D','#97BC62FF','#CE4A7EFF','#FC766AFF','#603F83FF','#006D77'
        ,'#E29578','#264653','#81b29a','#8d99ae']



    school = {{school|safe}}
    snum = {{snum|safe}}

    depts = {{depts|safe}}
    dnum = {{dnum}}

    program = {{program|safe}}
    pnum = {{pnum}}



    var originaldata = {
        labels:  school,
        datasets: [{
            label:"Students",
            data:snum,
            backgroundColor: colors,
        }]
    }

     var config = {
              type: 'pie',
              data: originaldata,
     }
    var myChartData = new Chart(ctx, config);

    $("#0").click(function() {
        var datasetlist1 = []
        datasetlist1.push({
            label:'Student',
            data: snum,
            backgroundColor:colors,
        });
      var data = myChartData.config.data;
      data.datasets = datasetlist1;
      data.labels = school;
      myChartData.update();
    });
    $("#1").click(function() {
      var datasetlist2 = []
      datasetlist2.push({
            label:'Student',
            data: dnum,
            backgroundColor:colors,
      });

      var data = myChartData.config.data;
      data.datasets = datasetlist2;
      data.labels = depts;
      myChartData.update();
    });

    $("#2").click(function() {
      var datasetlist3 = []
      datasetlist3.push({
            label:'Student',
            data: pnum,
            backgroundColor:colors,
      });
      var data = myChartData.config.data;
      data.datasets = datasetlist3;
      data.labels = program;
      myChartData.update();
    });
</script>
{% endblock javascripts %}