{% extends "layouts/base.html" %} {% block title %} SPMS{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block sidebar %} {% include 'includes/facultysidebar.html' %} {% endblock %} {% block content %}

<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header">
                <h2 class="card-title">Evaluation Data</h2>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <form>
        {% csrf_token %}
        <table class="form-table">
            <tr>
                <td class="form-field" style="text-align: center;padding-right:30px;">
                    <label for="course"  style="padding-right:5px;">CourseID</label>
                    <select style="width: 120px; height: 30px" class="form-select selectpicker" id="course" name="course">
                        {% for i in clist %}
                            {% if i.courseID == selectedCourse %}
                                <option value="{{i.courseID}}" selected="selected">{{i.courseID}}</option>
                            {% else %}
                                <option value="{{i.courseID}}">{{i.courseID}}</option>
                            {% endif %}
                        {% endfor %}
                     </select>
                </td>

                <td class="form-field" style="text-align: center;padding-right:30px;">
                    <label for="section" style="padding-right:5px;" >SectionNum</label>
                    <select  class="form-select selectpicker" id="section" name="section">
                        {% for i in sections %}
                            {% if i == selectedSection %}
                                <option value="{{i}}" selected="selected">{{i}}</option>
                            {% else %}
                                <option value="{{i}}">{{i}}</option>
                            {% endif %}
                        {% endfor %}
                  </select>
                </td>

                <td class="form-field" style="text-align: center;padding-right: 20px;width:210px;">

                    <input type="text" class="form-control" id="semester" name="semester" placeholder="Semester(e.g. Spring 2020)">

                    <!--<select  class="form-select selectpicker" id="semester" name="semester">
                        {% for i in semesters %}
                            {% if i == selectedSemester %}
                                 <option value="{{i}}" selected="selected">{{i}}</option>
                            {% else %}
                                <option value="{{i}}">{{i}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>-->
                </td>
                </tr>
                <tr>
                    <td class="form-field" style="text-align: center;padding-right: 20px;">
                        <label for="anum" style="padding-right:5px;" >Number of Assessments</label>
                        <input type="text" id="anum" name="anum" class="form-control" placeholder="" />
                    </td>


                <td class="form-field" style="text-align: center;padding-right: 20px;">
                    <label for="snum" style="padding-right:5px;" >Number of Students</label>
                    <input type="text" id="snum" name="snum" class="form-control" placeholder="" />
                </td>
                <td style="text-align: center" class="last-row" colspan="2">
                    <button class="btn btn-primary" id ="enterButton">Enter</button>
                </td>
             </tr>
        </table>
    </form>
</div>

<div class="row justify-content-center mt-4">
    <form id="evaluationSection"  action="{% url 'evaluationdataentry' %}" method="post"></form>
</div>
{% endblock %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}

<script>
    $("#enterButton").click(function() {
        let courseName = document.getElementById('course').value;
        let noOfStudents = document.getElementById('snum').value;
        let noOfAssess = document.getElementById('anum').value;
        let section = document.getElementById('section').value;
        let semester = document.getElementById('semester').value;

        let evaluationSection = document.getElementById('evaluationSection');
         evaluationSection.innerHTML = '';

        let formTable = document.createElement('table');
        formTable.className = 'form-table';
        formTable.innerHTML = `
                            {% csrf_token %}
                            <input type="hidden" name="course" value="${courseName}" />
                            <input type="hidden" name="section" value="${section}" />
                            <input type="hidden" name="semester" value="${semester}" />
                        `;
        for (let i = 0; i < parseInt(noOfStudents); i++) {

            let inputForm = document.createElement('table')
            inputForm.className = 'form-table';
            let inputFormInnerHTML = `
            <tr>
                 <td class="form-field"" colspan="2"><input type="text" id="student${i + 1}" name="student" class="form-control" placeholder="Student ID" /></td>
            </tr>
            `;
                            for (let j = 0; j < parseInt(noOfAssess); j++) {
                                inputFormInnerHTML += `
                                    <tr>
                                         <td class="form-field">
                                                <input type="text" id="questions${i + 1}"
                                                name="questions" class="form-control" placeholder="Question Number"/>
                                         </td>
                                        <td class="form-field"><input type="text" id="obtainedmarks${i + 1}-${j + 1}"
                                        name="obtainedMarks${i}" class="form-control" placeholder="Obtained Marks" /></td>
                                    </tr>
                                `;
                            }
                            inputFormInnerHTML += '<br />';
                            inputForm.innerHTML = inputFormInnerHTML;

                            ;
                            formTable.appendChild(inputForm);
                        }
                        let inputButton = document.createElement('tr');
                        inputButton.innerHTML = `<td style="text-align: center;" class="last-row" colspan="2"><button class="btn btn-primary">Submit Evaluation</button></td>`;

                        formTable.appendChild(inputButton);
                        evaluationSection.appendChild(formTable);
                        return false;

    });
</script>
{% endblock javascripts %}