{% extends "layouts/base.html" %}

{% block title %} SPMS{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block sidebar %} {% include 'includes/facultysidebar.html' %} {% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class ="col-6">
        <div class="card text-center">
            <div class="card-header">
              Courses Taught: 3
            </div>
            <div class="card-body">
              <h5 class="card-title">Number of PLOs Taught: 7</h5>
            </div>
        </div>
    </div>
    <div class ="col-6">
        <div class="card text-center">
            <div class="card-header">
                 Practising Semesters: 3
            </div>
            <div class="card-body">
              <h5 class="card-title">PLO Success rate: 70.78%</h5>
            </div>
        </div>
    </div>
</div>


    <div class="row">
      <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> Department Average PLO</h3>
          </div>
          <div class="card-body">
            <div class="chart-area ">
              <canvas id="plo" height="100%"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <h3 class="card-title"><i class="tim-icons icon-send text-success"></i>Department Average GPA</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="gpa" height="100%"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}




<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
     var ctx = document.getElementById('plo').getContext('2d');
     var data = {
            labels: {{plolabel|safe}},
          datasets: [{
              label: 'Department Overall PLO',
              data: {{plodata}},
              backgroundColor: '#ffa600',
          }],
      };

    var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: data,
    options: {
        barValueSpacing: 30,
        scales: {
            yAxes: [{
                ticks: {
                    min: 0,
                    max:100,
                }
            }]
        }
    }
});

</script>
<script>
    var ctx = document.getElementById('gpa').getContext('2d');
     var data = {
        labels: {{gpalabel|safe}},
        datasets: [{
        label: "Department Average Gpa",
        backgroundColor: '#d048b6',
        fill: false,
        borderColor: '#d048b6',
        data: {{gpadata}}
        },
        ]
    };

    var myChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
          scales: {
              xAxes: [{
                  gridLines: {
                      display: false,
                  }
              }],
              yAxes: [{
                  ticks: {
                      beginAtZero: true,
                      max:4,
                  },
                  type: 'linear',
              }]
          },

          responsive: true,
          maintainAspectRatio: true
      }
    });




</script>


{% endblock javascripts %}
