{% extends "layouts/base.html" %}

{% block title %} SPMS{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block sidebar %} {% include 'includes/hasidebar.html' %} {% endblock %}

{% block content %}


<div class="row">
    <div class ="col-4">
        <div class="card text-center">
            <div class="card-header">
              Number of Courses: 31
            </div>
            <div class="card-body">
              <h5 class="card-title">Average PLO mapped: 4</h5>
            </div>
        </div>
    </div>
    <div class ="col-4">
        <div class="card text-center">
            <div class="card-header">
              Number of Students: {{totalstudents}}
            </div>
            <div class="card-body">
              <h5 class="card-title">Average Achieved PLO: 5.2</h5>
            </div>
        </div>
    </div>
     <div class ="col-4">
        <div class="card text-center">
            <div class="card-header">
              Number of Faculties: 33
            </div>
            <div class="card-body">
              <h5 class="card-title">Practising Semesters: 3</h5>
            </div>
        </div>
    </div>
</div>

    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h2 class="card-title">GPA Performance</h2>
              </div>
              <div class="col-sm-6">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <label class="btn btn-sm btn-primary btn-simple active" id="0">
                    <input type="radio" name="options" checked>
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">School</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-single-02"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="1">
                    <input type="radio" class="d-none d-sm-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Department</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-gift-2"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="2">
                    <input type="radio" class="d-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Program</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-tap-02"></i>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body" style="height:450px;" >
            <div class="chart-area">
                <canvas id="gpatrend" height="100%"></canvas>
            </div>
          </div>
        </div>
      </div>

    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
        var ctx = document.getElementById("gpatrend").getContext("2d");

        colors = ['Red','Orange','Green','Blue','Cyan', 'Purple','Pink','Teal','Maroon','Gray','Olive','Lime','GoldenRod']

        label = {{gpalabel|safe}}
        schools = [{% for i in schools %} '{{ i }}', {% endfor %}];
        stable = {{ sgpatable }};

        depts = [{% for i in depts %} '{{ i }}', {% endfor %}];
        dtable = {{ dgpatable }};

        programs = [{% for i in programs %} '{{ i }}', {% endfor %}];
        ptable = {{ pgpatable }};

        var datasetlist1 = []

        for (let i = 0; i < schools.length; i++) {
            datasetlist1.push({
               label: schools[i],
               data: stable[i],
               backgroundColor:colors[i],
               fill:false,
               borderColor: colors[i],

            });
        }

        var config = {
              type: 'line',
              data: {
                  labels: label,
                  datasets: datasetlist1,
              },
              options: {
                  scales: {
                      xAxes: [{
                          stacked: true,
                          gridLines: {
                              display: false,
                          }
                      }],
                      yAxes: [{
                          ticks: {
                              beginAtZero: true,
                              max:4,
                          },
                          type: 'linear',
                      }]
                  },

                  responsive: true,
                  maintainAspectRatio: true
              }
        }

   var myChartData = new Chart(ctx, config);
    $("#0").click(function() {
      var data = myChartData.config.data;
      data.datasets = datasetlist1;
      data.labels = label;
      myChartData.update();
    });
    $("#1").click(function() {
      var datasetlist2 = []
      for (let i = 0; i < depts.length; i++) {
            datasetlist2.push({
               label: depts[i],
               data: dtable[i],
               backgroundColor:colors[i],
               fill:false,
               borderColor: colors[i],

            });
        }
      var data = myChartData.config.data;
      data.datasets = datasetlist2;
      data.labels = label;
      myChartData.update();
    });

    $("#2").click(function() {
       var datasetlist3 = []
       for (let i = 0; i < programs.length; i++) {
            datasetlist3.push({
               label: programs[i],
               data: ptable[i],
               backgroundColor:colors[i],
               fill:false,
               borderColor: colors[i],

            });
        }
      var data = myChartData.config.data;
      data.datasets = datasetlist3;
      data.labels = label;
      myChartData.update();
    });

  </script>

{% endblock javascripts %}
