{% extends "layouts/base.html" %}

{% block title %} SPMS{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h2 class="card-title">PLO Performance</h2>
              </div>
              <div class="col-sm-6">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <label class="btn btn-sm btn-primary btn-simple active" id="0">
                    <input type="radio" name="options" checked>
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Accounts</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-single-02"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="1">
                    <input type="radio" class="d-none d-sm-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Purchases</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-gift-2"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="2">
                    <input type="radio" class="d-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Sessions</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-tap-02"></i>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body" style="height:500px;" >
            <div class="chart-area">
                <canvas id="ploperformance" height="100%"></canvas>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> GPA Performance</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="gpatrend" height="100%"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <h3 class="card-title"><i class="tim-icons icon-send text-success"></i>PLO Duplicate</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="right" height="100%"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

   <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header">
            <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> Course-wise PLO Achievement</h3>
          </div>
          <div class="card-body" style ="height:500px;">
            <div class="chart-area">
              <canvas id="coursewiseplo" height="100%"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

   <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header">
            <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> CO-wise PLO Achievement</h3>
          </div>
          <div class="card-body" style ="height:500px;">
            <div class="chart-area">
              <canvas id="cowiseplo" height="100%"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>



{% endblock content %}




<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!--  <script>-->
<!--    chartLabel = {{chartLabel|safe}}-->
<!--     chartDataSet = {{chartDataSet}}-->
<!--    $(document).ready(function(chartLabel,chartDataSet) {-->
<!--      // Javascript method's body can be found in assets/js/demos.js-->
<!--      demo.initDashboardPageCharts(chartLabel,chartDataSet);-->

<!--    });-->
<!--  </script>-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

 <script>
   var ctx = document.getElementById("ploperformance").getContext("2d");

    var gradientStroke = ctx.createLinearGradient(0, 230, 0, 50);

    gradientStroke.addColorStop(1, 'rgba(29,140,248,0.2)');
    gradientStroke.addColorStop(0.4, 'rgba(29,140,248,0.0)');
    gradientStroke.addColorStop(0, 'rgba(29,140,248,0)');


    var myChart = new Chart(ctx, {
      type: 'bar',
      responsive: true,
      legend: {
        display: false
      },
      data: {
        labels: {{chartLabel|safe}},
        datasets: [{
          label: 'PLO',
          fill: true,
          backgroundColor: gradientStroke,
          hoverBackgroundColor: gradientStroke,
          borderColor: '#1f8ef1',
          borderWidth: 2,
          borderDash: [],
          borderDashOffset: 0.0,
          data: {{chartDataSet|safe}},
        }]
      },
       options: {
          scales: {
              xAxes: [{
                  stacked: true,
                  gridLines: {
                      display: false,
                  }
              }],
              yAxes: [{
                  stacked: true,
                  ticks: {
                      beginAtZero: true,
                      max:100,
                  },
                  type: 'linear',
              }]
          },

          responsive: true,
          maintainAspectRatio: true
      }
    });
  </script>



  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
  var ctx = document.getElementById('right').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: {{chartLabel|safe}},
          datasets: [{
              label: 'PLO Achievement',
              data: {{chartDataSet|safe}},
              backgroundColor: ['Red','Orange','Green','Blue','Cyan', 'Purple','Pink','Teal','Maroon','Gray','Olive','Lime'],
              borderColor: ['Red','Orange','Green','Blue','Cyan', 'Purple','Pink','Teal','Maroon','Gray','Olive','Lime'],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              xAxes: [{
                  stacked: true,
                  gridLines: {
                      display: false,
                  }
              }],
              yAxes: [{
                  stacked: true,
                  ticks: {
                      beginAtZero: true,
                      max:100,
                  },
                  type: 'linear',
              }]
          },

          responsive: true,
          maintainAspectRatio: true
      }
  });
  </script>

  <script>
      var ctx = document.getElementById("gpatrend").getContext("2d");

    var gradientStroke = ctx.createLinearGradient(0, 230, 0, 50);

    gradientStroke.addColorStop(1, 'rgba(72,72,176,0.2)');
    gradientStroke.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke.addColorStop(0, 'rgba(119,52,169,0)'); //purple colors

    var data = {
      labels: {{chartLabel2|safe}},
      datasets: [{
        label: "GPA",
        fill: true,
        backgroundColor: gradientStroke,
        borderColor: '#d048b6',
        borderWidth: 2,
        borderDash: [],
        borderDashOffset: 0.0,
        pointBackgroundColor: '#d048b6',
        pointBorderColor: 'rgba(255,255,255,0)',
        pointHoverBackgroundColor: '#d048b6',
        pointBorderWidth: 20,
        pointHoverRadius: 4,
        pointHoverBorderWidth: 15,
        pointRadius: 4,
        data: {{chartDataSet2}},
      }]
    };

    var myChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
          scales: {
              xAxes: [{
                  stacked: true,
                  gridLines: {
                      display: false,
                  }
              }],
              yAxes: [{
                  stacked: true,
                  ticks: {
                      beginAtZero: true,
                      max:4,
                  },
                  type: 'linear',
              }]
          },

          responsive: true,
          maintainAspectRatio: true
      }
    });

  </script>

  <script>
      var ctx = document.getElementById("coursewiseplo").getContext('2d');

      plo = [{% for i in plo %} '{{ i }}', {% endfor %}];
      courses = [{% for i in courses %} '{{ i }}', {% endfor %}];
      table = {{ table }};

      colors = ['Red','Orange','Green','Blue','Cyan', 'Purple','Pink','Teal','Maroon','Gray','Olive','Lime','GoldenRod']

      var datasetlist = []

      for (let i = 0; i < courses.length; i++) {
        datasetlist.push({
           label: courses[i],
           data: table[i],
           backgroundColor:colors[i]
        });
      }

     var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: plo,
            datasets: datasetlist
        },
        options: {
            scales: {
        xAxes: [{
          stacked: true,
          gridLines: {
            display: false,
          }
        }],
        yAxes: [{
          stacked: true,
          ticks: {
            beginAtZero: true,
            max:100,
          },
          type: 'linear',
        }]
      },

            responsive: true,
            maintainAspectRatio: true
        }
    });


  </script>

  <script>
      var ctx = document.getElementById("cowiseplo").getContext('2d');

      plo = [{% for i in plo2 %} '{{ i }}', {% endfor %}];
      cos = [{% for i in cos %} '{{ i }}', {% endfor %}];
      table = {{ table2 }};

      colors = ['Red','Orange','Green','Blue']

      var datasetlist = []

      for (let i = 0; i < cos.length; i++) {
        datasetlist.push({
           label: cos[i],
           data: table[i],
           backgroundColor:colors[i]
        });
      }

     var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: plo,
            datasets: datasetlist
        },
        options: {
            scales: {
        xAxes: [{
          stacked: true,
          gridLines: {
            display: false,
          }
        }],
        yAxes: [{
          stacked: true,
          ticks: {
            beginAtZero: true,
            max:100,
          },
          type: 'linear',
        }]
      },

            responsive: true,
            maintainAspectRatio: true
        }
    });


  </script>


{% endblock javascripts %}
