{% extends "layouts/base.html" %} {% block title %} SPMS{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block sidebar %} {% include 'includes/facultysidebar.html' %} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header">
                <h2 class="card-title">PLO CO Mapping</h2>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center text-center mt-auto">
    <form>
        <table class="form-table">
            <tr>
                <td class="form-field" style="text-align: center; padding-right: 20px">
                    <label for="course" style="padding-right: 10px">CourseID</label>
                    <select class="form-select selectpicker" id="course" name="course">
                        {% for i in clist %}
                            {% if i.courseID == selectedCourse %}
                                <option value="{{i.courseID}}" selected="selected">{{i.courseID}}</option>
                            {% else %}
                                <option value="{{i.courseID}}">{{i.courseID}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>

                <td style="text-align: center; padding-right: 20px">
                    <input type="text" id="conum" name="conum" class="form-control" placeholder="No. of COs to be Added" />
                </td>
                <td style="text-align: center" class="last-row" colspan="2">
                    <button class="btn btn-primary" id ="submitButton">Enter</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="row justify-content-center mt-4">
    <form id="mappingSection" action="{% url 'plocomapping' %}" method="post"></form>
</div>



{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
   $("#submitButton").click(function() {
        let courseID = document.getElementById('course').value;
        let noOfCO = document.getElementById('conum').value;

        let mappingSection = document.getElementById('mappingSection');
        mappingSection.innerHTML = '';

        let formTable = document.createElement('table');
        formTable.className = 'form-table';
        formTable.innerHTML = `
                            {% csrf_token %}
                            <input type="hidden" name="course" value="${courseID}" />
                        `;
        for (let i = 0; i < parseInt(noOfCO); i++) {
            let inputForm = document.createElement('tr')
            inputForm.innerHTML = `
                   <td class="form-field" style="width: 120px;">
                         <label style="margin-right: 0px;" for="mapping${i + 1}" id="mappinglabel${i + 1}"><b>CO${i + 1}</b> maps to</label>
                   </td>
                    <td class="form-field" style="width: 110px;">
                        <select class="form-control" id="coMaps" name="coMaps">
                        <option value="PLO1">PLO01</option>
                        <option value="PLO2">PLO02</option>
                        <option value="PLO3">PLO03</option>
                        <option value="PLO4">PLO04</option>
                        <option value="PLO5">PLO05</option>
                        <option value="PLO6">PLO06</option>
                        <option value="PLO7">PLO07</option>
                        <option value="PLO8">PLO08</option>
                        <option value="PLO9">PLO09</option>
                        <option value="PLO10">PLO10</option>
                        <option value="PLO11">PLO11</option>
                        <option value="PLO12">PLO12</option>
                        </select>
                    </td>
                    `;
                    formTable.appendChild(inputForm);
                        }
                        let inputButton = document.createElement('tr');
                        inputButton.innerHTML = `<td style="text-align: center;" class="last-row" colspan="2"><button class="btn btn-primary">Submit Mapping</button></td>`;

                        formTable.appendChild(inputButton);
                        mappingSection.appendChild(formTable);
                        return false;


});
</script>
{% endblock javascripts %}