{% extends "layouts/base.html" %} {% block title %} SPMS{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block sidebar %} {% include 'includes/facultysidebar.html' %} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header">
                <h2 class="card-title">PLO CO Mapping</h2>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center text-center mt-auto">

        <table class="form-table">
            <tr>
                <td class="form-field" style="text-align: center; padding-right: 20px">
                    <label for="course" style="padding-right: 10px">CourseID</label>
                    <select class="form-select selectpicker" id="course" name="course">
                        {% for i in clist %}
                            {% if i.courseID == selectedCourse %}
                                <option value="{{i.courseID}}" selected="selected">{{i.courseID}}</option>
                            {% else %}
                                <option value="{{i.courseID}}">{{i.courseID}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>

                <td style="text-align: center; padding-right: 20px">
                    <input type="text" id="conum" name="conum" class="form-control" placeholder="No. of COs to be Added" />
                </td>
                <td style="text-align: center" class="last-row" colspan="2">
                    <button class="btn btn-primary" onclick="showCOs()">Enter</button>
                </td>
            </tr>
        </table>

</div>
    <div class="row">
        <div class="col-12">

                <table class="form-table" id="mapping-table">

                </table>


        </div>
    </div>



{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function showCOs() {
        var num = document.getElementById('conum').value;

        for (let j = 0; j <parseInt(num); j++) {
            var tr = document.createElement("tr");

            var td1 = document.createElement("td");
            td1.innerHTML = "CO"+(j+1);
            td1.setAttribute("text-align", "center")

            tr.appendChild(td1)

            var td2 = document.createElement("td");
            var select = document.createElement("select")
            select.setAttribute("id", "mySelect");
            select.setAttribute("class", "form-select selectpicker");
            td2.appendChild(select)
            tr.appendChild(td2)


            for(let k=1;k<=12;k++){
                  var z = document.createElement("option");
                  z.setAttribute("value", "PLO"+k);
                  var t = document.createTextNode("PLO"+k);
                  z.appendChild(t);
                  document.getElementById("mySelect").appendChild(z);
            }

            tr.appendChild(td2)

        }
         document.getElementById("mapping-table").appendChild(tr);

    }
</script>
{% endblock javascripts %}