{% extends "layouts/base.html" %} {% block title %} SPMS{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block sidebar %} {% include 'includes/facultysidebar.html' %} {% endblock %} {% block content %}

<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header">
                <h2 class="card-title">PLO CO Mapping</h2>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center text-center mt-auto">
    <form id="mapping">
        {% csrf_token %}
        <table class="form-table">
            <tr>
                <td class="form-field" style="text-align: center; padding-right: 20px">
                    <label for="course" style="padding-right: 10px">CourseID</label>
                    <select style="width: 120px; height: 30px" class="form-select" id="course" name="course" form="mapping" aria-label="Default select example">
            {% for i in courses %} {% if i == selectedCourse %}
            <option value="{{i}}" selected="selected">{{i}}</option>
            {% else %}
            <option value="{{i}}">{{i}}</option>
            {% endif %} {% endfor %}
          </select>
                </td>

                <td style="text-align: center; padding-right: 20px">
                    <input type="text" id="conum" name="conum" class="form-control" placeholder="No. of COs to be Added" />
                </td>
                <td style="text-align: center" class="last-row" colspan="2">
                    <button class="btn btn-primary" onclick="showNOofcos()">Enter</button>
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}